# Copy this file to .env and fill in your values.
# In terminal (from backend folder): copy .env.example .env   (Windows) or  cp .env.example .env   (Mac/Linux)


JWT_SECRET=your-super-secret-key

# MongoDB connection.
MONGODB_URI=mongo-url-here

# Port on which the backend server runs.
PORT=port-number
